{% extends "blog/base.html" %}
{# bu postni ichiga kirgandan keyingi html kodlari #}
{% block title %}{{ post.title }}{% endblock %}
                {# post.title bu list.html dagi title ning o'zi   #}
{% block content %} {#  #}
    <h1>{{ post.title }}</h1>
    <p>
    wriojriwjoewjprejfoiejrgiojdifjwjflwjeoijeruhfeguierhfuirhguhreifhurehifre
    </p>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
{# linebreaks bu qator tashlash va probel  #}
    {# tashlashlarni o'ziday qilib paste qiladi #}
    {{ post.body|linebreaks }} {# | chiziq bu linebreaklarni inobatga olgin #}
{% endblock %}