<div class="pagination"> {# previus => bu listga shu holatida includega paste qil degani  #}
    <span class="step-links">
        {% if page.has_previous %}
            {# has_pre yani o'zidan oldingi page bo'lsa  #}
        <a href="?page={{ page.previous_page_number }}">Avvlagi</a>
            {# pre_number bu undan oldingi page 3 bo'lsa hozirginisi 3 qo'yadi #}
        {% endif %}
        <span class="current">{# cur => hozirgi page #}
            {# page.number birinchi paginator da => 1, 2, 3, ......   #}
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %} {# keyingi page link yasaladi #}
            <a href="?page={{ page.next_page_number }}">Keyingi</a>
        {% endif %}
    </span>
</div>